/*Global*/

* {
    /* #2 #font #faces */
    font-family: 'Arial', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    /* #2 #colorful #background */
    background-color: #F5F5F5;
}

button {
    /* #2 #colourful #plusfive */
    background-color: #CDDC39;
    color: black;
    
}

button, strong {
/* #2 #font capital #letters */
text-transform: uppercase;
}


/*App bar*/
h1 {
    /* #2 #colourful #app-bar */
    background-color: #3F51B5;
    color: white;
}


/*Channels list*/
ul {
    /* #2 #colorful #channelandchat */
    background-color: white;
}

ul .selected{
    color: #3F51B5;
    border-left: 4px solid #3F51B5;
}

li{
    padding: 16px;
    font-size: 16px;
    box-sizing: border-box; 
    height: 48px;
    border: 1px solid #F5F5F5;
}
/*Tab bar*/
#tab-bar{
background-color:white;
}

#tab-bar button {
    background-color: white;
    border: 0px;
    font-size: 13px;
    box-sizing: border-box;
    width: 33%;
    height: 72px;
    padding: 16px;

}

#tab-bar button img {
    display: block;
    margin: 0px auto 4px auto;
}

#tab-bar .selected {
    border-bottom: 4px solid #3F51B5;
    
}

/*Messages*/
.message {
width:80%;
margin-bottom: 8px;
margin-left: 2.5%;
}

.message h3 {
    /* #2 #font #metadata is now medium */
    font-size: medium;
}

.message p {
    /* #2 #colorful #channelandchat */
    background-color: white;
    padding: 16px;
}

.message button{
    background-color: #CDDC39;
    color: black;
    text-transform: uppercase;
}

.message em{
    font-size: larger;
    font-style: normal;
}

.my-message{
    margin-left: 17.5%;
}